@import './variable.scss';

@mixin breakpoint($point) {
    @if $point == lg{
        @media (min-width: 1120px) and (max-width: 1439px){@content;}
    }
    @else if $point == md{
        @media (min-width: 768px) and (max-width: 1119px){@content;}
    }
    @else if $point == sm{
        @media (min-width: 320px) and (max-width: 767px){@content;}
    }        
    @else if $point == xl{
        @media (min-width: 1440px){@content;}
    }        
}

.container{  
    margin: 0 auto;
    max-width: rem(1440);
    padding-left: rem(15);
    padding-right: rem(15);
    padding-top: rem(213);    
    @include breakpoint(lg){
        padding-top: rem(100);   
    }
    @include breakpoint(md){
        padding-top: rem(64);   
    }
    @include breakpoint(sm){
        padding-top: rem(44);   
    }
}

.input-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-bottom: rem(61);
    gap: rem(30);   
    @include breakpoint(md){
        display: block;    
    }
    @include breakpoint(sm){
        display: block;  
    } 
}
.input-block >div{
    @include breakpoint(md){
        margin-bottom: rem(32);  
    }
    @include breakpoint(sm){
        margin-bottom: rem(32);
    } 
}

.calc-title{
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 900;
    font-size: rem(54);
    line-height: 90%;
    color: $default-color;
    max-width: rem(750);
    margin-bottom: rem(31);
    @include breakpoint(xs){
       font-size: rem(34);
    } 
}

.calc-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start; 
    align-items: end;
    @include breakpoint(md){
        grid-template-columns: 1fr 1fr;   
    }
    @include breakpoint(sm){
        display: block;  
    }    
}
.calc-block >div{
    @include breakpoint(md){
        margin-bottom: rem(32);  
    }
    @include breakpoint(sm){
        margin-bottom: rem(32);
    } 
}

.calc-subtitle{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(16);
    color: $light-color;
    margin-bottom: rem(24);
    position: relative;
    @include breakpoint(sm){
        font-size: rem(14);
        margin-bottom: rem(8);
    } 
}
.calc-sum-text{
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 900;
    font-size: rem(54);
    line-height: 90%;
    color: $light-color;
}
.calc-btn{  
    position: relative;
    width: rem(426);
    height: rem(68);
    background-color: $primary-color;
    outline: none;
    border: 0;
    border-radius: 40px;
    color: #fff;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 900;
    font-size: rem(30);
    line-height: rem(36); 
    @include breakpoint(sm){
        width: rem(280);
        height: rem(60);
        font-size: rem(22);
     }   
}

.spinner {
    position: absolute;
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;    
    & .path {
      stroke: #fff;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }    
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
