

@media (min-width: 1120px) and (max-width: 1439px) {
    
}

@media (min-width: 768px) and (max-width: 1119px) {
    .input-block{
        display: block;
    }
    .input-block > div{
        margin-bottom: rem(32);
    }
    .calc-block{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .calc-block > div{
        margin-bottom: rem(44);
    }
    
}

@media (min-width: 320px) and (max-width: 767px) {   
    .container{
        padding-top: rem(44);
    }
    .input-title{
        font-size: rem(14);
        margin-bottom: rem(8);
    }
    .input-block{
        display: block;
    }
    .input-block > div{
        margin-bottom: rem(32);
    }
    .calc-block{
        display: block;
    }
    .calc-block > div{
        margin-bottom: rem(44);
    }
    
}

@media (min-width: 320px){
   
    .calc-title{
        font-size: rem(34);
    }
    .calc-btn{
        font-size: rem(22);
        width: rem(280);
        height: rem(60);
    }
    .input-block{
        display: block;
    }
    .input-block > div{
        margin-bottom: rem(32);
    }
    .calc-block{
        display: block;
    }
    .calc-block > div{
        margin-bottom: rem(44);
    }
    
}


