@import '../Calc/variable.scss';
.input-item{
    position: relative;
    &__deactiv{
      opacity: 0.4;
      position: relative;
    }
}

.input-title{  
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(16);
    color: $light-color;
    margin-bottom: rem(24);
    position: relative; 
    @include breakpoint(sm){
      font-size: rem(14);
      margin-bottom: rem(8);
    } 
}

.input-number{      
      width: 100%;
      height: rem(68);
      margin: 0;
      background-color: #F3F3F4;
      border-radius: rem(16);
      outline: none;
      border: 0;
      font-style: normal;
      font-weight: 900;
      font-size: rem(30);
      line-height: rem(36);
      padding-left: rem(24);  
      font-family: 'Nekst';
      font-style: normal;
      font-weight: 900;   
      color: $light-color;
      transition: all 0.3s ease; 
      @include breakpoint(xs){
        height: rem(60);
        padding-left: rem(20);
    }    
  };

  .icon-money{
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 900;
    font-size: rem(30);
    line-height: rem(36);
    color: #575757;
    position: absolute;
    top: rem(12);
    right: rem(24);
    @include breakpoint(sm){
      font-size: rem(22);
      top: rem(10);
      right: rem(20);
    } 
  }
  .icon-percent{
    display: flex;
    font-family: 'Nekst';
    font-style: normal;
    font-weight: 900;
    font-size: rem(20);    
    color: #575757;
    position: absolute;
    top: rem(7);
    right: rem(7);
    background-color: #EBEBEC;
    width: rem(69);
    height: rem(54);            
    border-radius: rem(16);
    justify-content: center;
    align-items: center;
    @include breakpoint(sm){
      font-size: rem(22);
      top: rem(7);
      right: rem(7);
      width: rem(67);
     height: rem(48); 
    } 
  }
  
  .input-number:focus{
    border: rem(2) solid #F3F3F4;
    background-color: #fff;
  }
  .input-number:hover:not([disabled]) ~ .input-range::-webkit-slider-runnable-track{    
    height: rem(1);
  }
  
  .input-number:hover:not([disabled]) ~ .input-range::-moz-range-track {
    height: rem(1);
  }
  
  .input-number:hover:not([disabled]) ~ .input-range::-ms-track {
    height: rem(1);
  }
  
  
  .input-number:hover:not([disabled]) ~ .input-range::-webkit-slider-thumb {
    height: rem(24);
    width: rem(24);
    margin-top: rem(-11);
  }
  
  .input-number:hover:not([disabled]) ~ .input-range::-moz-range-thumb {
    height: rem(24);
    width: rem(24);
  }
  
  .input-number:hover:not([disabled]) ~ .input-range::-ms-thumb {
    height: rem(24);
    width: rem(24);
  }
  
  
  .input-number::-webkit-outer-spin-button,
  .input-number::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
  
  .input-range{
      -webkit-appearance: none;    
      position: absolute;
      bottom: rem(-2);
      left: rem(22);
      right: rem(22);
      transition: all 0.3s ease;
  }
  
  .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;  
    height: rem(20);
    width: rem(20);
    border-radius: 50%;
    background: $primary-color;
    cursor: pointer;
    margin-top: rem(-9); 
    transition: all 0.3s ease;
  }
  
  
  .input-range::-moz-range-thumb {  
    height: rem(20);
    width: rem(20);
    border-radius: 50%;
    background: $primary-color;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  .input-range::-ms-thumb { 
    height: rem(20);
    width: rem(20);
    border-radius: 50%;
    background: $primary-color;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .input-range::-webkit-slider-runnable-track {
    width: 100%;
    height: rem(2);
    cursor: pointer; 
    background: $primary-color; 
    transition: all 0.3s ease;
  }
  
  .input-range:focus::-webkit-slider-runnable-track {
    background: $primary-color;
    
  }
  
  .input-range::-moz-range-track {
    width: 100%;
    height: rem(2);
    cursor: pointer; 
    background: $primary-color; 
    transition: all 0.3s ease;
  }
  
  .input-range::-ms-track {
    width: 100%;
    height: rem(2);
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: rem(16) 0;
    color: transparent;
    transition: all 0.3s ease;
  }

  .input-range::-ms-fill-lower {
    background: $primary-color; 
  }
  
  .input-range:focus::-ms-fill-lower {
    background: $primary-color;
    
  }
  
  .input-range::-ms-fill-upper {
    background: $primary-color; 
  }
  
  .input-range:focus::-ms-fill-upper {
    background: $primary-color;
  }


  .input-range:hover:not([disabled])::-webkit-slider-thumb {
    height: rem(24);
    width: rem(24);
    margin-top: rem(-11);
    transition: all 0.3s ease;
  }
  
  .input-range:hover:not([disabled])::-moz-range-thumb {
    height: rem(24);
    width: rem(24);
    transition: all 0.3s ease;
  }
  
  .input-range:hover:not([disabled])::-ms-thumb {
    height: rem(24);
    width: rem(24);
    transition: all 0.3s ease;
  }