@font-face {
    font-family: 'Nekst Semi';
    src: url('./fonts/Nekst-SemiBold.eot');
    src: local('Nekst Semi Bold'), local('Nekst-SemiBold'),
        url('./fonts/Nekst-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nekst-SemiBold.woff2') format('woff2'),
        url('./fonts/Nekst-SemiBold.woff') format('woff'),
        url('./fonts/Nekst-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('./fonts/Nekst-Regular.eot');
    src: local('Nekst'), local('Nekst-Regular'),
        url('./fonts/Nekst-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nekst-Regular.woff2') format('woff2'),
        url('./fonts/Nekst-Regular.woff') format('woff'),
        url('./fonts/Nekst-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('./fonts/Nekst-Black.eot');
    src: local('Nekst Black'), local('Nekst-Black'),
        url('./fonts/Nekst-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nekst-Black.woff2') format('woff2'),
        url('./fonts/Nekst-Black.woff') format('woff'),
        url('./fonts/Nekst-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('./fonts/Nekst-Thin.eot');
    src: local('Nekst Thin'), local('Nekst-Thin'),
        url('./fonts/Nekst-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nekst-Thin.woff2') format('woff2'),
        url('./fonts/Nekst-Thin.woff') format('woff'),
        url('./fonts/Nekst-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('./fonts/Nekst-Bold.eot');
    src: local('Nekst Bold'), local('Nekst-Bold'),
        url('./fonts/Nekst-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nekst-Bold.woff2') format('woff2'),
        url('./fonts/Nekst-Bold.woff') format('woff'),
        url('./fonts/Nekst-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('./fonts/Nekst-Medium.eot');
    src: local('Nekst Medium'), local('Nekst-Medium'),
        url('./fonts/Nekst-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nekst-Medium.woff2') format('woff2'),
        url('./fonts/Nekst-Medium.woff') format('woff'),
        url('./fonts/Nekst-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('./fonts/Nekst-Light.eot');
    src: local('Nekst Light'), local('Nekst-Light'),
        url('./fonts/Nekst-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Nekst-Light.woff2') format('woff2'),
        url('./fonts/Nekst-Light.woff') format('woff'),
        url('./fonts/Nekst-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}





*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Nekst Semi';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
